- var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
.head
  a.author(href='/author/'+author, rel='external') #{author}
  | &nbsp;wrote on&nbsp;
  span.date #{date.getDate()}&nbsp;#{months[date.getMonth()]}&nbsp;#{date.getHours()}:#{date.getMinutes()}
.text 
  p !{text}